<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Plantilla Correo Rentacar</title>
</head>

<body>
    <div align="center">
        <img src="logo2.jpg" alt="Logo" width="800" height="100">
    </div>
    <hr>

    <div align="center">
        <h1>Clientes</h1>
    </div>

    <div>
        <label id="tipo_documento" name="tipo_documento">Tipo de Documento</label>
        <br>
        <label id="numero_documento" name="numero_documento">Número de Documento</label>
        <br>
        <label id="nombres" name="nombres">Nombres</label>
        <br>
        <label id="apellidos" name="apellidos">Apellidos</label>
        <br>
        <label id="direccion" name="direccion">Dirección</label>
        <br>
        <label id="telefono" name="telefono">Teléfono/Celular</label>
        <br>
        <label id="conductor_adicional" name="conductor_adicional">Nombre Conductor Adiconal</label>
        <br>
        <label id="documento_conductor_adicional" name="documento_conductor_adicional">Numero Documento Conductor
            Adicional</label>
        <hr>
    </div>

    <div>
        <div align="center">
            <h1>Vehículos</h1>
        </div>
    <label id="nombre_vehiculo" name="nombre_vehiculo">Nombre Vehículo</label>
    <br>
    <label id="placa" name="placa">Placa Vehículo</label>
    <br>
    <label id="marca" name="marca">Marca Vehículo</label>
    <br>
    <label id="modelo" name="modelo"> Modelo Vehículo</label>
    <br>
    <label id="color" name="color">Color Vehículo</label>
    <br>
    <label id="vigencia_soat" name="vigencia_soat">Vigencia SOAT</label>
    <br>
    <label id="vigencia_tecnomecanica" name="vigencia_tecnomecanica">Vigencia Tecnomecánica (CDA)</label>
    <br>
    <label id="precio_alquiler" name="precio_alquiler">Valor Alquiler Vehículo</label>
    <br>
    <label id="precio_lavado" name="precio_lavado">Precio Lavado Vehículo</label>
    <br>
    <label id="disponibilidad" name="disponibilidad">Disponibilidad Vehículo</label>
    <!--Imagen-->
    <hr>
    </div>

    <div>
        <div align="center">
            <h1>Valores</h1>
        </div>

        <table border>

            <tr>
                <th>Título 1</th>
                <th>Título 2</th>
                <th>Título 3</th>
            </tr>

            <tr>
              <td>Celda 1</td>
              <td>Celda 2</td>
              <td>Celda 3</td>
            </tr>

            <tr>
              <td>Celda 4</td>
              <td>Celda 5</td>
              <td>Celda 6</td>
            </tr>
          
          </table>
          <hr>
          
    </div>

</body>

</html>