<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Plantilla Correo Rentacar</title>
</head>

<body>
    <div align="center">
        <img src="banner-correo.png" alt="Logo" width="1100" height="280">
    </div>


    <div align="center">
        <hr width=900 color=#C52121>
        <h1>INFORMACIÓN CLIENTE</h1>
        <hr width=900 color=#C52121>
    </div>

    <div align=center>
        <table width=800>

            <tr>
                <td>
                    <label>Tipo de Documento</label>
                </td>

                <td>
                    <b id="tipo_documento">C.C</b>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Número de Documento</label>
                </td>
                <td>
                    <b id="numero_documento">1.234.567</b>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Nombres</label>
                </td>
                <td>
                    <b id="nombres">John</b>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Apellidos</label>
                </td>
                <td>
                    <b id="apellidos">Benavides</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Dirección</label>
                </td>
                <td>
                    <b id="direccion"> Cra 1 #2-34 B/Ejemplo</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Teléfono/Celular</label>
                </td>
                <td>
                    <b id="telefono">312-456-7896</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Nombre Conductor Adiconal</label>
                </td>
                <td>
                    <b id="conductor_adicional"> Andrés Pérez</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Numero Documento Conductor Adicional</label>
                </td>
                <td>
                    <b id="documento_conductor_adicional">12.345.678</b>
                </td>
            </tr>
        </table>
    </div>
    <hr width=900 color=#C52121>

    <div align="center">
        <hr width=900 color=#C52121>
        <h1>INFORMACIÓN VEHÍCULO</h1>
        <hr width=900 color=#C52121>
    </div>

    <div align=center>
        <table width=850>

            <tr>
                <td>
                    <label>Nombre Vehículo</label>
                </td>

                <td>
                    <b id="nombre_vehiculo">Escarabajo</b>
                </td>

                <td rowspan="10">
                    <img src="escarabajo.jpg" width="400" height="280"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Placa Vehículo</label>
                </td>
                <td>
                    <b id="placa">ABC-123</b>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Marca Vehículo</label>
                </td>
                <td>
                    <b id="marca">Volskwagen</b>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Modelo Vehículo</label>
                </td>
                <td>
                    <b id="modelo">1970</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Color Vehículo</label>
                </td>
                <td>
                    <b id="color">Negro</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Vigencia SOAT</label>
                </td>
                <td>
                    <b id="vigencia_soat">DD/MM/AAAA</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Vigencia Tecnomecánica (CDA)</label>
                </td>
                <td>
                    <b id="vigencia_tecnomecanica">DD/MM/AAAA</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Valor Alquiler Vehículo</label>
                </td>
                <td>
                    <b id="precio_alquiler">150.000</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Precio Lavado Vehículo</label>
                </td>
                <td>
                    <b id="precio_lavado">30.000</b>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Disponibilidad Vehículo</label>
                </td>
                <td>
                    <b id="disponibilidad">SI/NO</b>
                </td>
            </tr>

        </table>
    </div>
    <hr width=900 color=#C52121>

    <div>
        <div align="center">
            <h1>COSTOS</h1>
        </div>
<hr width=900 color=#C52121>
        <div align="center">
        <table border>
            <tr>
                <td>Celda 1</td>
                <td>Celda 1A</td>
            </tr>

            <tr>
                <td>Celda 2</td>
                <td>Celda 2A</td>
            </tr>

        </table>
        <hr width=900 color=#C52121>
    </div>
    </div>

</body>

</html>